.wcenter {
    text-align: center;
    color: black;
}
.namep {
    border: 1px black;
    padding: 40px;
    background-color: black;
    border-radius: 20px;
    width: 80%;
    margin: -40px auto 0 auto;
    height: auto;
}
.namet{
    text-align: center;
}

.elink:hover{
    color: white;
    background-color:black;
    border-radius: 35px;
}
.wbig{
    font-size: 20px;
    font-weight: 800;
}
.wgo {
    font-size: 50px;
    text-align: center;
}
.wcontact{
    text-align: center;
}
section#about {
    background-color: rgb(27, 27, 27)
}
section#contactme {
    background-color: rgb(27, 27, 27)
}
section#about h1 {
    color: white;
}
section#about {
    background-image: url(../assets/img/bg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.aboutp{
    font-family:Noto Serif TC,serif;
}
section#contactme {
    background-image: url(../assets/img/bg4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a:hover {
  color: black;
}